name: Label Sync

on:
  schedule:
    - cron: "*/30 * * * *"
  push:
    branches:
      - trunk

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - run: |
          npm install github-label-sync -g

      - env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: ./labels/sync.sh
